.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: var(--fontWeight-semibold);
  border: 0;
  border-radius: var(--border-radius-l);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  box-shadow: var(--box-shadow-normal);
  color: var(--colors-text);
}

.storybook-button--default {
  background-color: var(--colors-background);
}

.storybook-button--warning {
  background-color: var(--colors-status-warning);
}

.storybook-button--success {
  background-color: var(--colors-status-success);
}

.storybook-button--danger {
  background-color: var(--colors-status-danger);
}

.storybook-button--info {
  background-color: var(--colors-status-info);
}

.storybook-button--small {
  font-size: var(--font-size-s);
  padding: var(--spacing-s) var(--spacing-m);
}

.storybook-button--medium {
  font-size: var(--font-size-m);
  padding: var(--spacing-m) var(--spacing-l);
}

.storybook-button--large {
  font-size: var(--font-size-l);
  padding: var(--spacing-l) var(--spacing-xl);
}

