.spark-TabsList {
    display: flex;
    min-width: 100%;
    border-top-right-radius: var(--bdrs-l);
    border-top-left-radius: var(--bdrs-l);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);

} 