.spark-TabsTrigger {
    flex: 1;
    padding: var(--p-xs) var(--p-s);
    border-width: var(--border-width-xs);
    border-left-width: var(--border-width-none);
    border-top-color: var(--colors-transparent);
    border-bottom-width: var(--border-width-xs);
    --tw-border-opacity: 1;
        border-bottom-color: rgb(var(--colors-bg-primary-accent) / var(--tw-border-opacity));
}
.spark-TabsTrigger:first-child {
    border-top-right-radius: var(--bdrs-l);
    border-left: transparent;
    border-right-width: var(--border-width-xs);
    border-left-width: var(--border-width-xs);
 }
.spark-TabsTrigger:last-child {
    border-top-right-radius: var(--bdrs-l);
    border-left: transparent;
}

.spark-TabsTrigger *[data-state="active"] {
    --tw-border-opacity: 1;
        border-bottom-color: rgb(var(--colors-fg-cta) / var(--tw-border-opacity));
    --tw-border-opacity: 1;
        border-bottom-color: rgb(var(--colors-bd-primary) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
        background-color: rgb(var(--colors-bg-primary-subtle) / var(--tw-bg-opacity));
}
.spark-TabsTrigger *[data-state="active"]:focus-visible{
    border-bottom-color: var(--colors-transparent);
}
.spark-TabsTrigger *:focus {
    z-index: 1;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.spark-TabsTrigger *:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
     --tw-ring-opacity: 0.75;
}