/* Reset button element */
button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  user-select: none;
}

button:focus {
  outline: 0;
}
/* Reset button element */

.spark-Button {
  border-radius: var(--bdrs-l);
  color: var(--c-white);
  font-weight: var(--fw-semi-bold);
  border: var(--bdw-xs) solid transparent;
  &--primary {
    background-color: var(--c-primary-500);
  }
  &--primary:hover {
    background-color: var(--c-primary-600);
  }

  &--secondary {
    background-color: var(--c-accent-500);
  }
  &--secondary:hover {
    background-color: var(--c-accent-600);
  }

  &--small {
    padding: var(--p-xs) var(--p-s);
    font-size: var(--fz-s);
  }
  &--medium {
    padding: var(--p-s) var(--p-m);
    font-size: var(--fz-m);
  }
  &--large {
    padding: var(--p-m) var(--p-l);
    font-size: var(--fz-l);
  }
}
